<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>あいまい検索</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body>


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" th:href="@{'/'}">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" th:href="@{'/'}">
        Home
      </a>

      <a class="navbar-item" th:href="@{'/'}">
        あいまい検索
      </a>
      
      <a class="navbar-item" th:href="@{'/company'}">
        会社検索
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          その他
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

  <form th:action="@{/}" method="POST">
    <input type="text" name="search" value="" />
    <input type="submit" value="検索" />
  </form>
 
  <table border="1" th:if="${members !=null}">
    <thead>
      <tr>
        <th>ID</th><th>名前</th><th>Email</th><th>TEL</th><th>住所</th>
      </tr>
    </thead>
    <tbody>
        <tr th:each="member : ${members}">
          <td th:text="${member.id}"></td>
          <td>
            <div>
              <span th:text="${member.lastNameKana}"></span>
              <span th:text="${member.firstNameKana}"></span>
            </div>
            <div>
              <span th:text="${member.lastName}"></span>
              <span th:text="${member.firstName}"></span>
            </div>
          </td>
          <td>
              <span th:text="${member.email}"></span>
          </td>
          <td>
              <span th:text="${member.tel}"></span>
          </td>
          <td>
            <span th:text="${member.addressLevel01}"></span>
            <span th:text="${member.addressLevel02}"></span>
            <span th:text="${member.addressLine01}"></span>
            <span th:text="${member.addressLine02}"></span>
          </td>
        </tr>
    </tbody>
  </table>
</body>
</html>